/* *{
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
} */
body{
    background-color: rgb(240, 224, 80) !important;
}
.navbar-brand{
    padding-left: 10px;
}
.logo-txt{
    padding-left: 10px;
    color: yellow !important;
}
.car-cap1{
    background-color: #fd10109d;
    border-radius: 90px 10px;
}
.car-cap2{
    background-color: #88a0009d;
    border-radius: 90px 10px;
}
.car-cap3{
    background-color: #f510fd9d;
    border-radius: 90px 10px;
}
.nav-item:hover .nav-link{
    background-color: yellow !important;
    color: black !important;
    border-radius: 0.5rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: bold !important;
    color: whitesmoke !important;
}
.box{
    text-align: center;
    /* max-width: 40%; */
    margin:10px 0;
    padding: 1.5em;
    background-color: rgb(56, 3, 105);
    color: rgba(255, 255, 255, 0.493);
    border-radius: 80px 10px;
}
.box:hover{
    transition: ease-in-out .5s;
    color: white;
    background-color: rgb(87, 7, 161);
    border-radius: 10px 80px;
}
.box i{
     padding-right: 10px;
}
.box p{
    font-weight: bold !important;
    font-size: 1.25em;
    margin: 0px;
}
.sec3{
    margin: 5rem auto;
}
.pack{
    margin-bottom: 2rem;
    background-color: rgba(253, 201, 59, 0);
    padding: 2rem;
    padding-bottom: 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0) 15px 10px 10px;
}
.pack img{
    box-shadow: rgba(0, 0, 0, 0.6) 5px 0px 10px;
    border-radius: 10px;
}
.pack:hover{
    background-color: rgba(253, 201, 59, 1);
    transition: ease-in-out 1s;
    box-shadow: rgba(0, 0, 0, 0.596) 15px 10px 10px;
}
.pack h1{
    margin-top: 20px;
}
.pack p{
    text-align: justify;
    text-transform: capitalize;
    font-weight: 600;
}

.ftr{
    padding: 2rem;
    background-color: rgb(27, 27, 27);
}
.ftr .start p {
    margin: .1em;
    text-align: left;
}

.ftr .start span {
    color: rgb(233, 248, 17);
    display: inline-block;
    margin-right: 2em;
}

.ftr .start span a {
    color: white;
    padding-left: .2em;
    font-weight: 100;
}

.ftr .end p {
    text-align: left;
    margin: 1em 2em;
    margin-top: 0;
}

.ftr .end .icon {
    text-align: left;
    margin-top: .5em;
}

.ftr .end .icon span {
    font-size: 2em;
}

.ftr .end .icon a {
    text-decoration: none;
    margin-right: .4em;
}

.ftr .end .icon a .fb {
    color: rgb(0, 81, 255);
}

.ftr .end .icon a .fb:hover {
    color: rgb(0, 81, 255);
    opacity: 50%;
    transition: ease-in-out .2s;
}

.ftr .end .icon a .twit {
    color: rgb(36, 204, 255);
}

.ftr .end .icon a .twit:hover {
    color: rgb(36, 204, 255);
    opacity: 50%;
    transition: ease-in-out .2s;
}

.ftr .end .icon a .inst {
    color: rgb(153, 56, 0);
}

.ftr .end .icon a .inst:hover {
    color: rgb(153, 56, 0);
    opacity: 50%;
    transition: ease-in-out .2s;
}

.ftr .end .icon a .yt {
    color: rgb(255, 0, 0);
}

.ftr .end .icon a .yt:hover {
    color: rgb(255, 0, 0);
    opacity: 50%;
    transition: ease-in-out .2s;
}

/* Gallery */

.gall {
    margin: 10rem;
}
.gal{
    margin: 20px 0px;
}
.gal img {
    box-shadow: rgba(44, 44, 44, 0.829) 5px 0px 30px;
    box-sizing: border-box;
    border-radius: 10px;
}
.gal:hover img {
    opacity: 55%;
    cursor: pointer;
    transition: ease-in-out .5s;
}
/* About Us */

.abt-1{
    margin: 10rem auto;
}
.abt-1 h1{
    margin: 20px;
    text-decoration: underline;
}
.abt-1 img{
    border-radius: 10px;
    box-shadow: rgb(29, 29, 29) 10px 0px 30px;
    margin-bottom: 20px;
}
.abt-txt{
    color: white;
    background-color: #39036b;
    border-radius: 20px;
    padding: 20px;
}